@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

//Widths
$maxWidth: 1250px;

//font sizes
$headingFont: 35px;
$headingSmallScreen: 28px;
$headingSmallScreen2: 19px;
$headingFont2: 22px;
$normalText: 18px;
$normalTextSmallScreen: 17px;
$fontPoppins: "Poppins", sans-serif;
