@import "../Variables/Spacings.scss";
@import "../Variables/color.scss";
.footer__container {
  width: 100%;
  height: 60vh;
  position: relative;
}

.footer__video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.footer__content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  color: $whiteNavbar;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 0 20px;
}

.footer__card__wrapper {
  width: 100%;

  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(31, 152, 244, 0.7);
  border-radius: 10px;
  padding: 40px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}

.footer__card__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $whiteNavbar;
}
.footer__card__content--logo {
  h1 {
    color: $whiteNavbar;
    text-transform: uppercase;
    font-size: $headingFont2;
    font-family: $fontPoppins;
  }
}
